<%= form_for @enrolment do |f| %>
  <% if @enrolment.errors.any? %>
    <div class="error_messages">
      <h2>
        <%= pluralize(@enrolment.errors.count, 'error') %>
        prohibited this enrolment from being saved:
      </h2>
      <ul>
        <% @enrolment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :stripe_card_token %>

  <%= f.hidden_field :course_id %>
  
  <div class='row'>
    <div class='span8'>
      <div class='page-header'>  
        <h2>You will be charged <span style='color: #5bc0de'><%= humanized_money_with_symbol @enrolment.course.price %></span> to enroll in the course <span style='color: #5bc0de'><%= @enrolment.course.course_name %></span></h2>
      </div>
      
      <% if @enrolment.stripe_card_token.present? %>
        Credit card has been provided.
      <% else %>
        <div class="field">
          <%= label_tag :card_number, "Credit Card Number" %>
          <%= text_field_tag :card_number, nil, name: nil %>
        </div><br />
        <div class="field">
          <%= label_tag :card_code, "Security Code on Card (CVV)" %>
          <%= text_field_tag :card_code, nil, name: nil %>
        </div><br />
        <div class="field">
          <%= label_tag :card_month, "Card Expiration" %>
          <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
          <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
        </div><br />
      <% end %>
      
      <div id="stripe_error">
        <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
      </div>
      
      <div class="actions">
        <%= f.submit "Enroll in Course", :class => 'btn btn-success' %>
      </div>
    </div>
    
    <div class='span4'>
      <div class='page-header'>
        <h2>Course details</h2>
      </div>  
      <div class='well'>
        <p>COURSE CATEGORY</p>
        <h2><%= @course.category.name %></h2>
        <br />
        <p>TOTAL LESSONS</p>
        <h2><%= @course.lessons.count %></h2>
        <br />
        <p>DIFFICULTY RATING</p>
        <h2><%= @course.level_id %></h2>
      </div>  
    </div>
      
<% end %>