<div class="row">
	  <div class="span12">
	  	  <div class="page-header">
	  		  <h2>Become an instructor today <small>And you'll be awesome</small></h2>
	  	  </div>
	  	</div>
    <div class="span6">
      <%= link_to(image_tag("new_course.png")) %>
    </div>
    <div class="span6">
  		<h2>Nulla aliquam elementum molestie. Maecenas eget commodo odio, ut placerat nibh.</h2>
  	  <br>
  	  <h3>Mauris vel lacus ornare, semper nibh ac, semper nunc. Suspendisse quis porttitor neque, dictum lacinia libero. Curabitur interd.</h3>
      <br />
  	  <%= link_to new_course_path, :class => 'btn btn-large btn-success', :method => :get do %>&nbsp;
		    <i class="icon-edit icon-white"></i> Begin Creating a Course
		  <% end %>	    
    </div> 
    </div>
    <div class='row'>
      <br />
      <div class="span6">
        <h2>Nulla aliquam elementum molestie. Maecenas eget commodo odio, ut placerat nibh.</h2>
        <br>
        <h3>Mauris vel lacus ornare, semper nibh ac, semper nunc. Suspendisse quis porttitor neque, dictum lacinia libero. Curabitur interd.</h3>
    	  <br />
    	  <%= link_to new_course_path, :class => 'btn btn-large btn-success', :method => :get do %>&nbsp;
  		    <i class="icon-edit icon-white"></i> Create a Course Today
  		  <% end %>
    	</div>  
      <div class="span6">
    		<%= link_to(image_tag("my_courses.png")) %>
      </div>
      <br>
      </div>
    <div class='row'>  
      <br />
      <div class="span6">
        <%= link_to(image_tag("cc_card.png")) %>
      </div>
      <div class="span6">
        <h2>Nulla aliquam elementum molestie. Maecenas eget commodo odio, ut placerat nibh.</h2>
        <br>
        <h3>Mauris vel lacus ornare, semper nibh ac, semper nunc. Suspendisse quis porttitor neque, dictum lacinia libero. Curabitur interd.</h3>
    	  <br />
    	  <%= link_to new_course_path, :class => 'btn btn-large btn-success', :method => :get do %>&nbsp;
  		    <i class="icon-edit icon-white"></i> Get Started
  		  <% end %>
    	</div>
      <br>
      </div>
      <div class='row'>
        <br />
        <div class="span6">
          <br>
          <h2>Nulla aliquam elementum molestie. Maecenas eget commodo odio, ut placerat nibh.</h2>
          <br>
          <h3>Mauris vel lacus ornare, semper nibh ac, semper nunc. Suspendisse quis porttitor neque, dictum lacinia libero. Curabitur interd.</h3> 
      	  <br />
      	  <%= link_to new_course_path, :class => 'btn btn-large btn-success', :method => :get do %>&nbsp;
    		    <i class="icon-edit icon-white"></i> Begin Earning Today
    		  <% end %>
      	</div>
        <br>
        <div class="span6">
          <br>
          <%= link_to(image_tag("publisher_payments.png")) %>
        </div>
        <br>
